<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="S60.CenRepEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <S60.CenRepEditor.Properties.Settings>
            <setting name="ModderName" serializeAs="String">
                <value>JAndras</value>
            </setting>
            <setting name="ModderEmail" serializeAs="String">
                <value>jakabandras210@gmail.com</value>
            </setting>
            <setting name="ModderHome" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseGZip" serializeAs="String">
                <value>True</value>
            </setting>
        </S60.CenRepEditor.Properties.Settings>
    </applicationSettings>
</configuration>
